<%= stylesheet_link_tag "footer" %>


<div class="navigation_footer">
    <div class="zoitw_text">
        ZOITW
    </div>
   <div class="navigation_links">
    <div class="head Home">
        <div class="sub_heading">
            Home
        </div>
        <div class="links">Sectors We Serve</div>
        <div class="links">Careers</div>
        <div class="links">Mission Vision</div>
        <div class="links">Subsidiaries</div>
    </div>
    <div class="head About Us">
        <div class="sub_heading">
            About Us
        </div>
        <div class="links">Who We Are</div>
        <div class="links">Story</div>
        <div class="links">Founder</div>
        <div class="links">Industry Partners</div>
        <div class="links">Life At ZOITW</div>
        <div class="links">Industry Mentors</div>
    </div>
    <div class="head Social Relations">
        <div class="sub_heading">
            Social Relations
        </div>
        <div class="links">Press & Media</div>
        <div class="links">Gallery</div>
        <div class="links">Contributions</div>
        <div class="links">Programs</div>
    </div>
    <div class="head Our Subsidiaries">
        <div class="sub_heading">
           Our Subsidiaries
        </div>
        <div class="links link_group"> <%= image_tag 'footer/ZITS.png', :class => "Subsidiaries_img"  %>ZULUITSOLUTIONS </div>
        <div class="links link_group"> <%= image_tag 'footer/zTech.png', :class => "Subsidiaries_img"  %>Z-TECHED </div>
        <div class="links link_group"> <%= image_tag 'footer/zev.png', :class => "Subsidiaries_img"  %>ZULUEVCONSULTANCY </div>
    </div>
   </div>
</div>

<div class="footer_slider">
    <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<%= image_tag 'footer/Facebook.png' , :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Twitter.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Dribble.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Vimeo.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Pinterest.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Behance.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Linkedin.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Instagram.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Youtube.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Medium.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Flickr.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/RSS.png', :class => "img_logo" %>
		</div>
        <div class="slide">
			<%= image_tag 'footer/Facebook.png' , :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Twitter.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Dribble.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Vimeo.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Pinterest.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Behance.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Linkedin.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Instagram.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Youtube.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Medium.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/Flickr.png', :class => "img_logo" %>
		</div>
		<div class="slide">
            <%= image_tag 'footer/RSS.png', :class => "img_logo" %>
		</div>
		

	</div>
</div>
</div>

<div class="copyright">
    <div class="content_container">
        <div class="copy_right_text">
            © ZOITW 2023
        </div>
        <div class="other_pages">
            <div class="links">T&C</div>
            <div class="links">Privacy</div>
        </div>
    </div>
</div>