<%= stylesheet_link_tag "index" %>




    <div class="home_greetings">
        <div class="content">
            <h2>Welcome To</h2>
            <h1>ZOITW</h1>
        </div>
    </div>

    <div class="who_we_are">
        <div class="sub_heading">
            <h3>WHO WE ARE</h3>
        </div>
        <div class="content">
            <p>FOUNDED IN 2020 IN ALWAR, ZOITW IS AN IT COMPANY THAT STARTED AS A SMALL TEAM OF 5 TALENTED INDIVIDUALS
                AND HAS NOW GROWN INTO A NEITHER-TOO-BIG NOR TOO-SMALL COMPANY THAT PROVIDES CUSTOM-TAILORED PRODUCTS TO
                FUEL YOUR BUSINESS GROWTH.</p>
        </div>
    </div>


    <div class="sectorsWeServe">
        <div class="zoitw_text">
            ZOITW
        </div>

        <div class="sectorContent">
            <div class="secondary_heading">
                <h3>WHO WE ARE</h3>
            </div>

        </div>

    </div>

    <div class="serving_Globbly">
        <div class="zoitw_text">
            ZOITW
        </div>

        <div class="servingContent">
            <div class="main_heading">
                <h3>SERVING GLOBALLY</h3>
            </div>
        </div>
            <div class="map">
                <div class="demo">
                    <div class="animation-wrapper">
                        <canvas id="globe-3d"></canvas>
                        <canvas id="globe-2d-overlay"></canvas>
                    </div>
                </div>
            </div> 
    </div>
 
    <div class="careers">
        <div class="main_heading">
            <h3>Careers</h3>
        </div>
        <p>We provide tailored services for businesses to succeed in the digital landscape.</p>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="careers_options_desktop">
                        <div class="items">
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/3D Modeling.png' , :class=> "careers_logo" %>
                                    <div class="text">3D Modeling</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Analyst.png' , :class=> "careers_logo" %>
                                    <div class="text">Analyst</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Animation.png' , :class=> "careers_logo" %>
                                    <div class="text">Animation</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Devops.png' , :class=> "careers_logo" %>
                                    <div class="text">Devops</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Digital Marketing.png' , :class=> "careers_logo" %>
                                    <div class="text">Digital Marketing</div>
                            </div>
                        </div>
                        <div class="items ">
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Doodling.png' , :class=> "careers_logo" %>
                                    <div class="text">Doodling</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Editing.png' , :class=> "careers_logo" %>
                                    <div class="text">Editing</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Electrical Engineering.png' , :class=> "careers_logo"
                                    %>
                                    <div class="text">Electrical Engineering</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Electronics Engineering.png' , :class=> "careers_logo"
                                    %>
                                    <div class="text">Electronics Engineering</div>
                            </div>
                        </div>
                        <div class="items ">
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Environmentalist.png' , :class=> "careers_logo" %>
                                    <div class="text">Environmentalist</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Graphic Designing.png' , :class=> "careers_logo" %>
                                    <div class="text">Graphic Designing</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Human Resource.png' , :class=> "careers_logo" %>
                                    <div class="text">Human Resource</div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="carousel-item">
                    <div class="careers_options_desktop">
                        <div class="items">
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/IOT.png' , :class=> "careers_logo" %>
                                    <div class="text">IOT</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/AI.png' , :class=> "careers_logo" %>
                                    <div class="text">AI</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Mechanical Engineering.png' , :class=> "careers_logo"
                                    %>
                                    <div class="text">Mechanical Engineering</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Mobile Application Development.png' , :class=>
                                    "careers_logo" %>
                                    <div class="text">Mobile Application Development</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Network Administrator.png' , :class=> "careers_logo"
                                    %>
                                    <div class="text">Network Administrator</div>
                            </div>
                        </div>
                        <div class="items ">
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Operation Manager.png' , :class=> "careers_logo" %>
                                    <div class="text">Operation Manager</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Photography.png' , :class=> "careers_logo" %>
                                    <div class="text">Photography</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Robotics.png' , :class=> "careers_logo" %>
                                    <div class="text">Robotics</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Sales and Marketing.png' , :class=> "careers_logo" %>
                                    <div class="text">Sales and Marketing</div>
                            </div>
                        </div>
                        <div class="items ">
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Sales and Marketing.png' , :class=> "careers_logo" %>
                                    <div class="text">Sales and Marketing</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/UX.png' , :class=> "careers_logo" %>
                                    <div class="text">UX</div>
                            </div>
                            <div class="box">
                                <%= image_tag 'index/CareerSlider/Web Development.png' , :class=> "careers_logo" %>
                                    <div class="text">Web Development</div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
                <span aria-hidden="true">
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#FB9400'>
                        <path
                            d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' />
                    </svg>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
                <span aria-hidden="true">
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#FB9400'>
                        <path
                            d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z' />
                    </svg>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>




    </div>

    <div class="MissionVision">
        <div class="zoitw_text">
            ZOITW
        </div>

        <div class="missionVisionContent">
            <div class="head_content">
                <div class="secondary_heading">
                    <h3>Our <br> Mission And <br> Vision</h3>
                </div>
                <p>Creating a business application, ERP application, automation solution or boosting the business via
                    digital marketing; we work with one definite approach & ideology of 3DP.</p>
                <ul>
                    <li>Determination</li>
                    <li>Dedication</li>
                    <li>Discipline</li>
                    <li>Perseverance</li>
                </ul>

            </div>
            <div class="content">
                <div class="mission">
                    <%= image_tag 'index/topLeft.png' , :class=> "topLeft " %>
                        <%= image_tag 'index/topRight.png' , :class=> "topRight " %>
                            <%= image_tag 'index/bottomLeft.png' , :class=> "bottomLeft " %>
                                <%= image_tag 'index/bottomRight.png' , :class=> "bottomRight " %>
                                    <div class="sub_heading">
                                        <h3>Mission</h3>
                                    </div>
                                    <p>
                                        Our mission is to cater to diverse market segments by delivering pioneering
                                        solutions that address their specific challenges through the integration of
                                        state-of-the-art technology. Our aim is to streamline operational costs and
                                        enhance efficiency, resulting in improved product value. With a steadfast
                                        commitment to staying ahead in the market, we prioritize the adoption of
                                        cutting-edge technologies that empower our business to maintain a competitive
                                        edge. We place significant emphasis on comprehending our clients' unique
                                        requirements, enabling us to provide innovative solutions that effectively
                                        address their opportunities and challenges. Throughout this process, we strive
                                        to deliver exceptional customer service, ensuring utmost satisfaction.
                                    </p>


                </div>
                <div class="vision">
                    <%= image_tag 'index/topLeft.png' , :class=> "topLeft " %>
                        <%= image_tag 'index/topRight.png' , :class=> "topRight " %>
                            <%= image_tag 'index/bottomLeft.png' , :class=> "bottomLeft " %>
                                <%= image_tag 'index/bottomRight.png' , :class=> "bottomRight " %>
                                    <div class="sub_heading">
                                        <h3>Vision</h3>
                                    </div>
                                    <p>
                                        Our vision is to enhance and uplift our environment in a manner that fosters a
                                        high regard for human life, leveraging cutting-edge technology. We aim to
                                        establish ourselves as a reliable and valued partner for organizations seeking
                                        to revolutionize their operations and excel in an ever-evolving technological
                                        landscape. Our core values encompass excellence, integrity, quality, and
                                        customer satisfaction, driving our commitment to achieving unparalleled results.
                                        Through our adaptability to emerging technologies, we aspire to shape the world
                                        by addressing global challenges and elevating the standard of living through
                                        innovative solutions.
                                    </p>


                </div>

            </div>

        </div>

    </div>

    <div class="ourSubsidiaries">
        <div class="main_heading">
            <h3>Our Subsidiaries</h3>
        </div>
        <div class="Subsidiaries_container max_w">

            <div class="SubsidiariesContent_text">

                <div class="Subsidiaries_text">
                    <div class="name  zits_subsidiaries ">
                        <h2>ZULUITSOLUTIONS</h2>
                    </div>
                    <div class="date">2019 / BRAND IDENTITY / WEB</div>
                    <p>Zits is an IT company that provides solutions for etc etc etc etc and a little more description
                        Zits is an IT company that provides solutions for etc etc etc etc and a little more description
                    </p>
                </div>

                <div class="Subsidiaries_img">
                    <%= image_tag 'index/sub1.png' , :class=> "subsidiaries_img1" %>
                </div>

            </div>
            <div class="SubsidiariesContent_text">

                <div class="Subsidiaries_img">
                    <%= image_tag 'index/sub1.png' , :class=> "subsidiaries_img1" %>
                </div>
                <div class="Subsidiaries_text">

                </div>


            </div>
        </div>
    </div>




    <script type="x-shader/x-fragment" id="fragment-shader-map">
    
    uniform vec3 u_color_main;
    varying float vOpacity;

    float circle(vec2 st, float r) {
        vec2 dist = st - vec2(.5);
        return 1. - smoothstep(.99 * r, 1.01 * r, dot(dist, dist) * 4.);
    }

    void main() {
        float dot = circle(gl_PointCoord.xy, .7);
        if (dot < 0.5) discard;
        gl_FragColor = vec4(u_color_main, dot * vOpacity);
    }
</script>

<script type="x-shader/x-vertex" id="vertex-shader-map">
    uniform sampler2D u_visibility;
    uniform float u_size;
    uniform float u_time_since_click;
    uniform vec3 u_clicked;

    varying float vOpacity;

    void main() {

        // mask with world map
        float visibility = 1. - step(.4, texture2D(u_visibility, uv).x);
        gl_PointSize = visibility * u_size;

        // add ripple
        float time = u_time_since_click;
        float dist = length(position - u_clicked);
        float damping = pow(1. - sin(min(time, 1.)), 5.);
        float wave = (1. + sin(3. * dist + 13. * time));
        float delta = -.025 * damping * wave;

        // make backside dots darker
        vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
        vOpacity = (1. / length(mvPosition.xyz) - .7);
        vOpacity = clamp(vOpacity, 0., .5) + .01;

        gl_Position = projectionMatrix * modelViewMatrix * vec4(position * (1. + delta), visibility);
    }
</script>
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
    <%= javascript_importmap_tags "map"%>
